.filter-wrapper{
    background-color: beige;
    height: 100px;
    width: auto;
    border-radius: 3%;
}

.filter-form{
    margin: auto 10px;
}

.filter-input{
    margin: auto 10px;
}

.enable-user-list {
    color: transparent;
    animation: disappear 1s;
}

@keyframes disappear {
    0% {
        color: transparent;
    }

    50% {
        color: black;
    }

    100% {
        color: transparent;
    }
    
}